.custom-link-input {
  padding: 20px;
  background-color: $light-white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  p {
    margin-bottom: 0;
    span {
      float: right;
    }
  }
  ul {
    overflow: auto;
    height: 200px;
  }
  button {
    width: 100%;

    svg {
      float: right;
    }
  }
}
