.custom-link-input {
  padding: 20px;
  background-color: $light-white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  p {
    margin-bottom: 0;
    span {
      float: right;
    }
  }
  ul {
    overflow: auto;
    height: 300px;

    li[role~="menuitem"] {
      .input-icon {
        display: flex;
        color: $dark-grey;
        flex: 1;
        gap: 12px;
        img {
          filter: $grey-filter;
        }
      }
      button.active .input-icon {
        color: $dark-purple;
        img {
          filter: $dark-purple-filter;
        }
      }
    }
  }
  button[data-testid~="flowbite-dropdown-target"] {
    width: 100%;
    background-color: $white;
    border: 1px solid $light-grey;
    & > span {
      width: 100%;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      -moz-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      background-color: $white !important;
    }
    svg {
      float: right;
      color: $dark-purple;
    }
    .input-icon {
      display: flex;
      color: $dark-grey;
      flex: 1;
      gap: 12px;
      img {
        filter: $grey-filter;
      }
    }
  }
}
