.new-link-container {
  margin-bottom: 24px;
  padding: 20px;
  background-color: $light-white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  p {
    margin-bottom: 0;
    span.remove-button {
      float: right;
    }
  }
  /// This is the items within the dropdown
  ul {
    overflow: auto;
    height: 300px;

    li[role~="menuitem"] {
      .input-icon {
        display: flex;
        color: $dark-grey;
        flex: 1;
        gap: 12px;
        img {
          filter: $grey-filter;
        }
      }
      button.active .input-icon {
        color: $dark-purple;
        img {
          filter: $dark-purple-filter;
        }
      }
    }
  }

  /// This is the main dropdown button!!
  button[data-testid~="flowbite-dropdown-target"],
  input[type~="password"] {
    width: 100%;
    background-color: $white;
    border: 1px solid $light-grey;
    & > span {
      width: 100%;
    }
    svg {
      float: right;
      color: $dark-purple;
      display: none;
    }
    .input-icon {
      display: flex;
      color: $dark-grey;
      flex: 1;
      align-items: center;

      .icon-group {
        display: flex;
        gap: 12px;
        flex: 1;
      }
      .chevron {
        filter: $dark-purple-filter;
      }

      img {
        filter: $grey-filter;
      }
    }
  }
  button[data-testid~="flowbite-dropdown-target"] {
    &:focus {
      --tw-ring-color: transparent;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      -moz-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      background-color: $white !important;
    }
  }
  input[type~="text"] {
    border-color: $light-grey;
    &:focus {
      -webkit-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      -moz-box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
      background-color: $white !important;
    }
  }
  .copy-icon {
    position: relative;

    img {
      position: absolute;
      left: 0;
      z-index: 1;
      left: 12px;
      top: 12px;
    }
    input {
      padding-left: 44px;
      @extend .body-m;
    }
  }
}
